    /* ====================================================================================================
	MINIMAL CSS3 MENU
==================================================================================================== */

.chromeNav {
    position: relative;
    z-index: 9999;
    top: -6px;
    left: -2.25em;
}

.chromeNav a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.chromeNav,
.chromeNav ul li,
.chromeNav ul li a {
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}


/* Submenu styles */

.chromeNav ul li a {
    display: block;
    line-height: 1.2em;
    padding: 10px;
}


/*First level styles */

.chromeNav>ul>li>a {
    color: #333;
    padding: 20px 5px 15px 5px;
    font-size: .9em;
    font-family: "montserrat_semibold", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.chromeNav ul li:first-child {
    margin-left: 0;
}

.chromeNav ul li:last-child {
    margin-right: 0;
}

.sticky .chromeNav>ul>li>a {}

.chromeNav>ul>li:hover>a {}


/* Opacity mask when left open */

.layer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    z-index: 9999;
    min-height: 100%;
    background-color: #000;
    opacity: 0;
    z-index: 9999;
}

.layer-is-visible {
    display: block;
    -webkit-animation: fade-in-layer .3s;
    -moz-animation: fade-in-layer .3s;
    -ms-animation: fade-in-layer .3s;
    -o-animation: fade-in-layer .3s;
    animation: fade-in-layer .3s;
    opacity: 0.5;
}

#chromeNav {
    display: none;
}

a.dropdown-toggle.icon-search {
    display: inline-block;
}


/* IE9 fix that affect the pages with parallax header (ex.single_hotel.html); Issue: submenu disappear when move the cursor to the submenu (only if you did not scroll the page) */

.ie9 a.show-submenu,
.ie9 a.show-submenu-mega {
    background: url(../img/fix_ie_9_menu.png);
}


/* All styles for screen size over 992px
================================================== */

@media only screen and (min-width: 992px) {
    .chromeNav {
        width: auto;
    }
    .chromeNav a {
        white-space: nowrap;
    }
    .chromeNav ul li {
        display: inline-block;
    }
    .chromeNav ul li.submenu:hover>a:before,
    .chromeNav ul li.submenu:hover>a:after {
        bottom: -20px;
        opacity: 0;
    }
    /* Submenu */
    .chromeNav ul ul,
    .chromeNav ul .menu-wrapper {
        position: absolute;
        border-top: 2px solid #BF311A;
        display: none;
        z-index: 9999;
        height: auto;
        left: 3px;
        top: 100%;
        margin: 0;
        padding: 0;
        background: #fff;
        min-width: 170px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
    /* Arrows top */
    .chromeNav ul ul:before {
        bottom: 100%;
        left: 15%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #BF311A;
        border-width: 7px;
        margin-left: -7px;
    }
    .chromeNav ul .menu-wrapper ul {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-top: none;
        margin: 0;
        padding: 0;
    }
    .chromeNav ul .menu-wrapper ul:before {
        border: 0;
    }
    .chromeNav ul li:hover>ul,
    .chromeNav ul li:hover>.menu-wrapper {
        display: block;
        padding: 0;
    }
    .chromeNav ul ul li {
        display: block;
        height: auto;
        padding: 0;
    }
    .chromeNav ul ul li a {
        font-size: 14px;
        color: #666;
        text-decoration: none;
        border-bottom: 1px solid #ededed;
        display: block;
    }
    .chromeNav ul ul li:last-child a {
        border-bottom: none;
    }
    .chromeNav ul ul li:hover>a {
        background-color: #f9f9f9;
        color: #BF311A;
    }
    /* Megamenu */
    .chromeNav ul li.megamenu {
        position: static
    }
    .chromeNav ul li.megamenu .menu-wrapper {
        position: absolute;
        top: 100%;
        width: 970px;
        float: left;
        left: auto;
        right: 0;
        padding: 10px 15px 0 15px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .chromeNav ul .menu-wrapper h3 {
        font-size: 14px;
        text-transform: uppercase;
        border-bottom: 2px solid #ededed;
        padding-bottom: 10px;
        margin-bottom: 0;
        font-family: "montserrat_semibold", Arial, Helvetica, sans-serif;
    }
    .chromeNav ul .menu-wrapper ul {
        position: relative;
        display: block;
    }
    .chromeNav ul .menu-wrapper ul {
        margin-bottom: 15px;
        left: 0;
    }
    a#search_bt span {
        display: none;
    }
    a#search_bt {
        margin-right: -1em;
    }
}

@media only screen and (max-width: 991px) {
    #chromeNav {
        text-align: center;
        padding: 25px 15px 10px 15px;
        position: relative;
        display: block;
    }
    .chromeNav ul li a:hover,
    a.show-submenu:hover,
    a.show-submenu:focus,
    a.show-submenu-mega:hover,
    a.show-submenu-mega:focus {
        color: #BF311A !important;
        background-color: #f9f9f9;
    }
    .chromeNav ul li {
        border-top: none;
        border-bottom: 1px solid #ededed;
        color: #fff;
    }
    /* Menu mobile first level */
    .chromeNav ul li a {
        padding: 10px 15px !important;
    }
    .chromeNav h3 {
        font-size: 14px;
        line-height: 18px;
        margin: 10px 0 0 0;
        padding: 0 0 15px 15px;
        color: #333;
        text-transform: uppercase;
    }
    .megamenu .menu-wrapper>div {
        padding: 0;
    }
    .chromeNav li,
    .chromeNav a {
        display: block;
        color: #555 !important;
    }
    .chromeNav li {
        position: relative;
    }
    .chromeNav a:hover {
        color: #e04f67 !important;
    }
    .chromeNav ul>li {
        padding-bottom: 0;
    }
    .chromeNav ul>li i {
        float: right;
    }
    /* Menu mobile second level */
    .chromeNav ul li.submenu ul {
        font-size: 14px;
        border-left: 1px solid #ededed;
        margin: 0 0 15px 25px;
    }
    .chromeNav ul li.submenu ul li {
        font-size: 14px;
        border: 0;
    }
    /* Menu mobile left panel */
    .chromeNav {
        overflow: auto;
        left: -100%;
        bottom: 0;
        width: 55%;
        height: 100%;
        opacity: 0;
        position: fixed;
        background-color: #fff;
        -webkit-transition: left 0.8s, opacity 0.5s;
        -moz-transition: left 0.8s, opacity 0.5s;
        transition: left 0.8s, opacity 0.5s;
        z-index: 9999;
        -webkit-box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.55);
        -moz-box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.55);
        box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.55);
    }
    .chromeNav.show {
        visibility: visible;
        left: 0;
        opacity: 1;
    }
    .chromeNav .show-submenu+ul,
    a.show-submenu-mega+.menu-wrapper {
        display: none;
        visibility: hidden;
    }
    a.show-submenu-mega+.menu-wrapper.show_mega,
    .chromeNav a.show-submenu+ul.show_normal {
        display: block;
        visibility: visible;
    }
    @media only screen and (max-width: 480px) {
        .chromeNav {
            width: 100%;
        }
    }