/*
Implementations Skeletor v3 - 5/10/2014

oustyles.css

Add styles to overwrite customer CSS, USE WITH CAUTION.

Contributors: Your Name Here
Last Updated: Enter Date Here
*/

#copy a {
	color: #58595B;
	opacity: 1;
}

#copy a:hover {
	text-decoration: none;
}

aside hr {
	margin: 30px 0 30px 0;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #fff;
}

aside h5 {
	font-family: "montserrat_semibold", Arial, Helvetica, sans-serif;
}

.wrapper_indent h2 {
    margin-bottom: 20px;
}

.page-menu > ouc\:div ul > li > a {
    color: #fff;
    text-decoration: underline;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 8px 9px 8px 9px;
    font-size: .75em;
    font-family: "montserrat_bold", Arial, Helvetica, sans-serif;
}

.col-md-6 > .wrapper_indent > .v-red.cap { margin-bottom: 20px; }

p > a.button_outline.large {
    margin-bottom: 0;
}

.enlarge {
    font-size: 185.5%;
	margin-top: 0;
    margin-bottom: 20px;
}

ul#cat_nav li a:before {
    content: none !important;
}

span.blog-category-total {
    font-style: normal;
    font-weight: normal;
    font-family: 'ElegantIcons';
    position: absolute;
    font-size: 20px;
    right: 10px;
    top: 9px;
}

div#disqus_thread {
    max-width: 1200px;
    margin: 0 auto;
}

.ou-form input[type=checkbox] {
	opacity: 1;
	width: auto;
	height: auto;
}

#newsletter_container button {
    padding: 14px 35px;
    color: #fff;
    font-family: "montserrat_semibold", Arial, Helvetica, sans-serif;
}

.ou-form input.form-control#email {
	display: inline-block;
    margin-bottom: 0;
    background-color: #fff;
    border: none;
    border: 2px solid #ededed;
    height: 50px;
    font-size: 15px;
    padding-left: 20px;
    width: 380px;
    margin-top: -2px;
    margin-right: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

ouc\:div[label="slider"] > a.ou-btn  {
	position: relative;
    top: 50px;
    z-index: 10;
    left: 5px;
}

#quote-carousel a {
    color: #fff;
    text-decoration: none;
}

#tabs .margin_60 {
    padding: 0;
}

#tabs .container-fluid {
    padding: 0;
}

.profile ul li strong.pull-right {
    text-align: right;
}

.profile ul:last-child li {
    display: inline-block;
	width: 100%;
}

.wrapper_indent .wrapper_indent {
	padding-left: 0;
}

.table-responsive {
	min-width: .01%;
}


/* Ticket 43684 - this was added to allow the course list snippet to be use without nesting it inside a Courses snippet [START] */
ul.ou-course-list {
    list-style: none;
    margin: 0 0 0 0;
    width: 100%;
    padding: 0;
}
ul.ou-course-list li {
    position: relative;
    padding: 15px 5px 10px 70px;
    min-height: 65px;
    width: 100%;
    border-bottom: 1px solid #ededed;
    display: table;
}
ul.ou-course-list div {
    display: table-cell;
    vertical-align: middle;
}
ul.ou-course-list figure {
    width: 45px;
    height: 45px;
    overflow: hidden;
    position: absolute;
    left: 10px;
    top: 10px;
}
ul.ou-course-list img.img-rounded {
    width: 45px;
    height: auto;
}
ul.ou-course-list h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}
ul.ou-course-list small {
    color: #777;
    margin: 0;
    padding: 0;
}
/* Ticket 43684 - this was added to allow the course list snippet to be use without nesting it inside a Courses snippet [END] */