/*
Theme Name: Valencia 2017
Author: Web & Portal Services and Aisling Multimedia

[Table of contents] 

1. SITE STRUCTURE and TYPOGRAPHY
- 1.1 Typography
- 1.2 Buttons
- 1.3 Structure

2. CONTENT
- 2.1 Home all versions
- 2.2 Accademics/single course page
- 2.3 About
- 2.4 Gallery
- 2.5 Staff
- 2.6 Contact
- 2.7 Stories

3. COMMON
- 3.1 Preloader
- 3.1.1 Return to Top
- 3.1.2 Date Format
- 3.2 Forms
- 3.3 Container backgrounds
- 3.4 Login/Register modals
- 3.5 Spacing
- 3.6  Newsletter footer
- 3.7 Pagination 
- 3.8 Search modal 
- 3.9 List styles
- 3.10 Misc
- 3.11 Tooltips
- 3.12 Timeline

/*============================================================================================*/


/* 1.  SITE STRUCTURE and TYPOGRAPHY */


/*============================================================================================*/


/*-------- Alert for old browsers IE8 and below --------*/

.chromeframe {
    background: #ddd;
    color: #000;
    padding: 0.2em;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 9999;
    width: 100%;
}

.chromeframe a {
    color: #ed1c24;
}


/*-------- 1.1 Typography --------*/

* {
    box-sizing: border-box
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    /*    font-size: 1em;*/
    line-height: 1.75;
    font-family: "montserrat_regular", Arial, sans-serif;
    color: #444;
    background-color: #fff;
}

h1.val {
    font-size: 36px;
    font-family: "montserrat_regular";
}

h2.val {
    font-size: 30px;
    font-family: "montserrat_regular";
}

h3.val {
    font-size: 26px;
    font-family: "montserrat_semibold";
}

h4.val {
    font-size: 20px;
    font-family: "montserrat_semibold";
}

h5.val {
    font-size: 16px;
    letter-spacing: .05em;
    font-family: "montserrat_semibold";
}

h6.val {
    font-size: 14px;
    font-family: "montserrat_bold";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
}

h3 {
    font-size: 22px;
}

.sub_header h1,
#intro_txt h1,
.sub_header_contact_home #intro_txt h1 {
    font-family: "montserrat_semibold", Arial, Helvetica, sans-serif;
    letter-spacing: .05em;
}

#intro_txt>a {
    display: block;
    position: absolute;
    left: 50%;
    top: 86%;
    background-color: #bf311a;
    color: #fff;
    font-size: .75em;
    text-transform: uppercase;
    border: 2px solid #BF311A;
    padding: 2px 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

strong,
label {
    font-family: "montserrat_semibold", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
}

p.lead {
    font-family: "montserrat_light", Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
}

.main_title {
    text-align: center;
    margin-bottom: 45px;
}

.main_title h2 {
    font-size: 34px;
    letter-spacing: -1px;
    margin-top: 0;
}

.main_title p {
    font-size: 22px;
    font-family: "montserrat_light", Arial, Helvetica, sans-serif;
    color: #777;
    line-height: 1.2;
}


/** Layes slider typography **/

h3.slide_typo {
    font-family: "montserrat_light", Arial, Helvetica, sans-serif;
    letter-spacing: -2px;
    font-size: 60px;
    white-space: nowrap;
    color: #fff !important;
    font-weight: normal;
}

h3 .slide_typo strong {
    font-family: "montserrat_bold", Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.slide_typo_2 {
    color: #fff;
    font-size: 18px;
    white-space: nowrap
}


/*General links color*/

a {
    color: #BF311A;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    outline: none;
}

a:hover,
a:focus {
    color: #BF311A;
    text-decoration: underline;
    outline: none;
}

a.link_normal {
    position: relative;
    display: block;
    color: #BF311A;
}

a.link_normal:hover {
    color: #BF311A;
    text-decoration: underline;
}

a.link_normal:after {
    font-style: normal;
    font-weight: normal;
    font-family: "fontawesome";
    content: "\f105";
    top: 1px;
    position: relative;
    margin-left: 5px;
}

a.link_underlined:hover {
    color: #BF311A;
    text-decoration: none;
}

a.link_underlined {
    color: #58595B;
    text-decoration: underline;
}

p {
    margin: 0 0 20px 0;
}

img.fullwidth {
    width: 100%;
}

hr {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ededed;
}

hr.more_margin {
    margin-top: 40px;
    margin-bottom: 60px;
    border: 0;
    border-top: 1px solid #ededed;
}

hr.styled {
    margin: 30px 0 30px 0;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #fff;
}

hr.styled_2 {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: -30px;
    margin-right: -30px;
}


/*-------- 1.2 Buttons --------*/

a.button,
.button {
    padding: 10px 30px;
    display: inline-block;
    background-color: #9c9c9c;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "montserrat_semibold", Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: 0;
    font-size: 14px;
    outline: none;
    margin-bottom: 20px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

a.button.small,
.button.small {
    padding: 7px 15px;
    font-size: 13px;
}

a.button.smaller,
.button.smaller {
    background-color: #d3d3d3;
    color: #000;
    padding: 2px 10px;
    font-size: 10px;
    border-radius: 24px;
    text-transform: uppercase;
}

a.button.large,
.button.large {
    padding: 7px 30;
    font-size: 13px;
}

a.button:hover,
.button:hover {
    color: #fff;
    background-color: #283841;
}

#submit-newsletter.button {
    padding: 14px 35px;
}

a.button_outline,
.button_outline {
    padding: 8px 30px;
    display: inline-block;
    background-color: transparent;
    border: 2px solid #999;
    color: #666;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "montserrat_semibold", Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-size: 14px;
    outline: none;
    margin-bottom: 20px;
}

a.button_outline:hover,
.button_outline:hover {
    color: #fff;
    text-decoration: none;
    border: 2px solid #BF311A;
    background-color: #BF311A;
}

a.button_outline.large,
.button_outline.large {
    padding: 20px 50px;
    font-family: 'montserrat_semibold', Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

a.button_download {
    padding: 15px 10px 15px 50px;
    display: inline-block;
    white-space: nowrap;
    font-family: "montserrat_semibold", Arial, Helvetica, sans-serif;
    cursor: pointer;
    position: relative;
    min-width: 220px;
    margin-bottom: 20px;
    border: 2px solid #BF311A;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

a.button_download:hover {
    background-color: #BF311A;
    color: #fff;
}

a.button_download i {
    font-size: 30px;
    position: absolute;
    left: 10px;
    top: 10px;
    display: block;
}

a.button_intro,
.button_intro {
    border: none;
    font-weight: normal;
    font-style: normal;
    color: #fff !important;
    background: #BF311A;
    cursor: pointer;
    padding: 12px 25px;
    display: inline-block;
    outline: none;
    font-size: 14px;
    text-align: center;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    min-width: 110px;
    font-family: "montserrat_semibold", Arial, Helvetica, sans-serif;
}

a.button_intro:hover,
.button_intro:hover {
    background: #fff;
    color: #BF311A !important;
}

a.button_intro.outline,
.button_intro.outline {
    border: 2px solid #fff;
    color: #fff;
    background: none;
    padding: 10px 23px;
}

a.button_intro:hover,
.button_intro:hover {
    background: #fff;
    color: #BF311A;
}


/* used in the action palettes */

.action_palette ul {
    margin: 0 0 0 -2em;
}

.action_palette li {
    float: left;
    /* margin-left: 0px; */
    padding-left: 0px;
    list-style: none;
    padding-bottom: 8px;
}

a.button_action,
.button_action {
    /* margin-left: -2.5em; */
    font-weight: normal;
    font-style: normal;
    color: #fff !important;
    border: 1px solid #842112;
    background: #BF311A;
    cursor: pointer;
    padding: .5em 1em .5em 1em;
    margin-bottom: .75em;
    display: inline-block;
    outline: none;
    font-size: 14px;
    -webkit-transition: background .3s ease-in;
    -moz-transition: background .3s ease-in;
    transition: background .3s ease-in;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-width: 100%;
    font-family: "montserrat_medium", Arial, Helvetica, sans-serif;
}

a.button_action.landing,
a.button_action_outline.landing,
.button_action_outline.landing {
    min-width: 100%;
}

.button_action.home i,
.button_action.landing i {
    margin-top: .5em;
    float: right;
}

.button_action_outline.home i,
.button_action_outline.landing i {
    margin-top: .5em;
    float: right;
}

a.button_action.home,
.button_action.home {
    margin-left: 0;
    position: relative;
    font-size: 14px;
}

a.button_action:hover,
.button_action:hover {
    background: #FDB913;
    border: 1px solid #333;
    color: #333 !important;
    text-decoration: none;
}

a.button_action_outline,
.button_action_outline {
    /* margin-left: -2.5em; */
    border: 1px solid #999;
    color: #333;
    font-weight: normal;
    font-style: normal;
    cursor: pointer;
    padding: .5em 1em .5em 1em;
    margin-bottom: .75em;
    display: inline-block;
    font-size: 14px;
    -webkit-transition: background .3s ease-in;
    -moz-transition: background .3s ease-in;
    transition: background .3s ease-in;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-width: 100%;
    font-family: "montserrat_semibold", Arial, Helvetica, sans-serif;
}

a.button_action_outline.home,
.button_action_outline.home {
    margin-left: 0;
    font-size: 14px;
}

a.button_action_outline.home.split,
.button_action_outline.home.split {
    padding: .5em 1em .5em 1em;
    font-size: 13px;
    min-width: 48%;
}

a.button_action_outline.landing.split,
.button_action_outline.landing.split {
    margin-left: 0;
    font-size: 13px;
    min-width: 48%;
    max-width: 48%;
    /* display: inline; */
}

a.button_action_outline:hover,
.button_action_outline:hover {
    background: #58595b;
    color: #fff !important;
    text-decoration: none;
}

li.landing.split {
    display: inline-block;
}


/*-------- 1.3 Structure --------*/


/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 45px;
    width: 100%;
    z-index: 9;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.header.header-site {
    position: fixed;
    top: 45px;
}

.header.header-chrome {
    z-index: 999;
    background-color: #fff;
    border-top: 6px solid #BF311A
}

.header.sticky,
header.sticky#contacts {
    top: 0;
    z-index: 1;
    background-color: #BF311A;
    opacity: 1;
}

.header.sticky.site-menu {
    margin-top: 0;
}

.header.sticky #logo {
    margin-top: 5px;
}

.header#chromeNav {
    background-color: #fff;
    opacity: 1
}

.header#contacts {
    background-color: #BF311A;
    opacity: 0.9;
}

#logo {
    display: block;
    float: left;
    margin: 15px 0 0 0px;
}

#logo img {
    display: block;
}


/* Header bg */

.sub_header {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 70vh;
    display: table;
    width: 100%;
    font-size: 20px;
    color: #fff;
}

.sub_header.bg_home {
    background-image: url(../img/home/home-1.jpg);
    background-position: center center;
    background-size: cover;
    max-height: 35vmax;
}

.sub_header.bg_interior {
    max-height: 250px;
    background-image: url(../img/header_bg_2_1600x250.jpg);
}

.sub_header.bg_interior div {
    /*This controls the tint of the background-hero image*/
    background: rgba(0, 0, 0, 0.65);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    /*	padding: 0 0%;*/
}

.sub_header.bg_home div {
    /*This controls the tint of the background-hero image*/
    background: linear-gradient(180deg, rgba(0, 0, 0, .7) 5%, rgba(45, 45, 45, 0.6) 15%, rgba(45, 45, 45, 0.4) 20%, rgba(45, 45, 45, 0.2) 25%, rgba(45, 45, 45, 0.1) 30%, rgba(45, 45, 45, 0) 40%);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 10%;
}

.sub_header div {
    /*This controls the tint of the background-hero image*/
    background: linear-gradient(180deg, rgba(45, 45, 45, .7) 5%, rgba(45, 45, 45, 0.6) 20%, rgba(45, 45, 45, 0.4) 50%, rgba(45, 45, 45, 0.2) 60%, rgba(45, 45, 45, 0.1) 75%, rgba(45, 45, 45, 0) 100%);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 10%;
}

.sub_header h1 {
    font-size: 48px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: white;
}

.sub_header.bg_1 {
    background-image: url(../img/header_bg_1_1600x800_osceola-3.jpg);
    background-position: center center;
    background-size: cover;
    max-height: 35vmax;
}

.sub_header.bg_2 {
    background-image: url(../img/header_bg_2_1600x250.jpg);
    background-position: center center;
    background-size: cover;
    max-height: 35vmax;
}

.sub_header.bg_3 {
    background-image: url(../img/header_bg_3.jpg);
    background-position: center center;
    background-size: cover;
    max-height: 35vmax;
}

.sub_header.bg_4 {
    background-image: url(../img/header_bg_4.jpg);
    background-position: center center;
    background-size: cover;
    max-height: 35vmax;
}

.sub_header.bg_landing_1 {
    background-image: url(../img/landing/KW10-25-12LakeNona-800.jpg);
    background-position: center center;
    background-size: cover;
    max-height: 35vmax;
}

.sub_header_contact_home {
    background-image: url(../img/header_bg_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 570px;
    font-size: 20px;
    display: block;
    color: #fff;
    text-align: center;
}

.sub_header_contact_home_wrapper {
    padding: 20px 250px 0 250px;
}

.sub_header_contact_home #intro_txt h1 {
    margin: 0;
    padding: 0;
    font-size: 60px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: white;
    padding-top: 100px;
}

.sub_header.bg_interior #intro_txt h1 {
    padding-top: 5vh;
}


/* Footer  */

footer {
    background-color: #e6e7ea;
    font-family: "montserrat_semibold", Arial, sans-serif;
    color: #000000;
    font-size: 11px;
    padding: 50px 0 10px 0;
}

footer .vertical_gray_line {
    border-left: 1px solid #e9ebee;
    margin-left: 3em;
}

footer ul {
    font-size: 11px;
    list-style: none;
    padding: 0 0 20px 0;
}

footer a {
    font-size: 11px;
    color: #000000;
    opacity: 0.6;
}

footer a:hover {
    color: #BF311A;
    opacity: 1;
}

footer h4 {
    color: #58595B;
    font-size: 16px;
    font-family: 'montserrat_bold', Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 2px;
}

footer div {
    font-size: 11px;
    padding-left: 0;
    padding-right: 0;
}

footer div div {
    font-size: 11px;
    padding-left: 0;
    padding-right: 0;
}

.icon-push-right {
    margin: 0em 10% 0em 0em;
}

#copy {
    font-size: 11px;
    color: #58595B;
    margin-top: 20px;
    margin-bottom: 10px;
}

ul#contacts_footer {
    margin-top: -10px;
}


/*============================================================================================*/


/* 2.  CONTENT  */


/*============================================================================================*/


/*-------- 2.1 Home All Versions --------*/

#home_feat_1 {
    position: relative;
    margin-bottom: 60px;
}

.home_feat_1_box {
    position: relative;
    overflow: hidden;
    bottom: -60px;
    position: relative;
}

.home_feat_1_box a:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.home_feat_1_box img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.short_info {
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../img/shadow_pic.png);
    background-repeat: repeat-x;
    background-position: center bottom;
    width: 100%;
    color: #fff;
    height: 100%;
}

.short_info h3 {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 30px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 18px;
}

.home_feat_1_box a:hover .short_info h3 {
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.short_info i {
    bottom: 0;
    right: 30px;
    font-size: 24px;
    position: absolute;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
}

.home_feat_1_box a:hover .short_info i {
    color: #fff;
    position: absolute;
    bottom: 26px;
    right: 30px;
    opacity: 1;
}

.box_feat_home {
    position: relative;
    padding: 0 0 0 100px;
}

.box_feat_home i {
    font-size: 70px;
    color: #333333;
    position: absolute;
    left: 0;
    top: 0;
}

#graph {
    position: relative;
    margin: 30px 0;
}

#graph h4 {
    font-size: 18px;
}

#graph img {
    max-width: 420px;
    margin: auto;
    display: block;
}

.features {
    position: absolute;
    width: 300px;
    height: auto;
}

.features h4 {
    margin-top: 0;
    font-family: "montserrat_semibold", Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.features p {
    margin-bottom: 0;
}

.step_1 {
    top: 0;
    left: -50%;
}

.step_2 {
    top: 0;
    right: -50%;
}

.step_3 {
    bottom: 0;
    left: -50%;
}

.step_4 {
    bottom: 0;
    right: -50%;
}

.header-video {
    position: relative;
    overflow: hidden;
    background: #000;
}

#hero_video {
    position: relative;
    background-size: cover;
    color: #fff;
    width: 100%;
    font-size: 16px;
    display: table;
    height: 100%;
    z-index: 99;
    text-align: center;
    padding-top: 60px;
}

#hero_video div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 10%;
}

#hero_video div h1 {
    font-size: 60px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: white;
    margin: -60px 0 0 0;
}

#hero_video div p {
    text-transform: uppercase;
    margin-bottom: 30px;
}

#hero_video a.video_pop {
    display: none;
}

video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
}

iframe {
    height: 100%;
    width: 100%;
}

video {
    width: 100%;
}

.teaser-video {
    width: 100%;
    height: auto;
}

.header-video--media {
    width: 100%;
    height: auto;
}


/* carousel */

#quote-carousel {
    padding: 0 10px 40px 10px;
}

#quote-carousel .carousel-control.left {
    left: -12px;
}

#quote-carousel .carousel-control.right {
    right: -12px !important;
}

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -30px;
    margin-right: -19px;
}

#quote-carousel .carousel-indicators li {
    background: #fff;
    opacity: 0.5;
    border: none;
}

#quote-carousel .carousel-indicators .active {
    background: #fff;
    opacity: 1;
}

#quote-carousel .item small {
    color: #fff;
    display: block;
    margin-top: 15px;
    font-size: 18px;
    font-style: italic;
    font-family: 'Georgia', cursive;
}

#quote-carousel .item small img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.item small:before {
    content: normal;
}

.item blockquote {
    border-left: none;
    margin: 0;
    text-align: center;
    font-family: 'Georgia', cursive;
    font-style: italic;
    padding-top: 15px;
    font-size: 26px;
    line-height: 28px;
    background: url(../img/blockquote.svg) no-repeat left top;
    background-size: 120px auto;
    overflow: visible;
}

.item blockquote img {
    margin-bottom: 20px;
}

.list_courses_tabs h2 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: #999;
    margin-bottom: 15px;
}

.list_courses_tabs ul {
    list-style: none;
    margin: 0 0 0 0;
    width: 100%;
    padding: 0;
}

.list_courses_tabs ul li {
    position: relative;
    padding: 15px 5px 10px 70px;
    min-height: 65px;
    width: 100%;
    border-bottom: 1px solid #ededed;
    display: table;
}

.list_courses_tabs ul li a small {
    color: #777;
    margin: 0;
    padding: 0;
}

.list_courses_tabs ul li:last-child {
    border-bottom: none;
    padding-left: 15px;
    padding-top: 10px;
}

.list_courses_tabs ul li div {
    display: table-cell;
    vertical-align: middle;
}

.list_courses_tabs ul li figure {
    width: 45px;
    height: 45px;
    overflow: hidden;
    position: absolute;
    left: 10px;
    top: 10px;
}

.list_courses_tabs ul li figure img {
    width: 45px;
    height: auto;
}

.list_courses_tabs ul li h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.list_courses_tabs ul li:hover {
    background-color: #f8f8f8;
}

.list_news_tabs h3 a {
    font-family: "Georgia";
    font-size: 18px;
    color: #333;
    margin-top: 0;
    padding-top: 0;
}

.list_news_tabs,
.date_published {
    color: #555;
    position: relative;
}

.list_news_tabs_more {
    min-height: 100px;
}


/* more button for tabs */

.tabs_more {
    float: right;
    content: "";
    margin-right: 1.25em;
    width: 44px;
    height: 44px;
    background-color: #999;
}

.tabs_more:hover {
    background-color: #BF311A;
}

.tabs_more i {
    font-size: 1.75em;
    font-weight: 100;
    position: relative;
    margin-left: -.2em;
    top: .4em;
    color: #fff;
}


/*   tags   */

.tags_normal {
    margin-left: 1.25em;
    padding: 1.25em 0;
    color: #BF311A;
    font-size: .85em;
    text-transform: capitalize;
}

.tags_normal:before {
    font-family: "fontawesome";
    font-size: 1em;
    content: "\f02c";
    padding-right: 6px;
}


/* events, news, and social */

.event_date,
.news_date,
.social_date,
.event_location,
.event_ticket {
    margin-left: 1.25em;
    color: #BF311A;
    font-size: .85em;
    text-transform: uppercase;
    padding-right: 2em;
    display: block;
}

.event_date {
    margin-left: 0;
}

.event_date:before {
    font-family: 'FontAwesome';
    content: "\f073";
    padding-right: 6px;
}

.event_location:before {
    font-family: 'FontAwesome';
    content: "\f041";
    padding-right: 6px;
}

.event_ticket:before {
    font-family: 'FontAwesome';
    content: "\f145";
    padding-right: 6px;
}

.align_article {
    content: " ";
}


/*-------- 2.2 Accademics/single course page--------*/

.box_style_1,
a.box_style_1 {
    background-color: #fff;
    /* -webkit-box-shadow: 0px 3px 0px 0px #f0f2f4;
    -moz-box-shadow: 0px 3px 0px 0px #f0f2f4;
    box-shadow: 0px 3px 0px 0px #f0f2f4; */
    margin-bottom: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    padding: 10px 10px 10px 10px;
    color: #444;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

.box_style_1.home {
    height: 10em;
}

a.box_style_1 {
    cursor: pointer;
}

a.box_style_1:hover {
    transform: translate(0, -10px);
    -webkit-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -webkit-box-shadow: 0px 3px 0px 0px #ebedef;
    -moz-box-shadow: 0px 3px 0px 0px #ebedef;
    box-shadow: 0px 3px 0px 0px #ebedef;
}

.box_style_2 {
    border-left: 1px solid #ededed;
    padding-left: 10px;
    margin-bottom: 30px;
}

.box_style_3 {
    padding: 15px 30px 1px 30px;
    margin-bottom: 30px;
    background-color: #ebedf0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.box_style_announcement_sidebar,
a.box_style_announcement_sidebar {
    background-color: #fff;
    /* -webkit-box-shadow: 0px 3px 0px 0px #f0f2f4;
    -moz-box-shadow: 0px 3px 0px 0px #f0f2f4;
    box-shadow: 0px 3px 0px 0px #f0f2f4; */
    min-height: 320px;
    border-bottom: 4px solid #FDB913;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    padding: 10px 10px 10px 10px;
    color: #444;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

a.box_style_announcement_sidebar {
    cursor: pointer;
}

a.box_style_announcement_sidebar:hover {
    transform: translate(0, -10px);
    -webkit-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -webkit-box-shadow: 0px 3px 0px 0px #ebedef;
    -moz-box-shadow: 0px 3px 0px 0px #ebedef;
    box-shadow: 0px 3px 0px 0px #ebedef;
}

.box_header .short_intro {
    background: #fff;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 30px 15px 30px;
}

.box_header .short_intro h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    padding: 0;
}

.indent_title_in_icon,
.indent_title_in {
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
}

.indent_title_in_icon {
    padding-left: 80px;
}

.indent_title_in_icon,
.indent_title_in i {
    font-size: 50px;
    position: absolute;
    left: 0;
    color: #BF311A;
    top: 0;
}

.indent_title_in_icon,
.indent_title_in h3 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 26px;
}

.indent_title_in_icon,
.indent_title_in p {
    color: #999;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 14px;
}

.wrapper_indent {
    padding-left: 1em;
}

ul.list_teachers {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
}

ul.list_teachers li a {
    position: relative;
    padding-left: 80px;
    height: 55px;
    margin-bottom: 20px;
    display: block;
    color: #555;
}

ul.list_teachers li a i {
    bottom: 20px;
    right: 15px;
    top: 50%;
    width: 30px;
    margin-top: -15px;
    height: 30px;
    font-size: 30px;
    position: absolute;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    color: #333;
}

ul.list_teachers li a:hover i {
    opacity: 1;
}

ul.list_teachers li figure {
    width: 55px;
    height: 55px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

ul.list_teachers figure img {
    width: 55px;
    height: auto;
}

ul.list_teachers li h5 {
    font-family: "montserrat_semibold", Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 10px;
}

.duration,
.deadline {
    margin-bottom: 20px;
    position: relative;
    height: 60px;
    width: 60px;
    text-align: center;
    padding-top: 65px;
    font-family: "montserrat_semibold", Arial, Helvetica, sans-serif;
    display: inline-block;
}

.deadline {
    margin-left: 45px;
}

.duration h5,
.deadline h5 {
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.icon_duration {
    position: absolute;
    font-size: 24px;
    width: 60px;
    color: #BF311A;
    height: 60px;
    text-transform: none;
    line-height: 67px;
    background: url("../img/crono.svg") no-repeat center center;
    background-size: 60px 60px;
    text-align: center;
    left: 0;
    top: 0;
}

.icon_deadline {
    position: absolute;
    font-size: 24px;
    width: 60px;
    color: #BF311A;
    height: 60px;
    text-transform: none;
    line-height: 67px;
    background: url("../img/calendar.svg") no-repeat center 2px;
    background-size: 60px 60px;
    text-align: center;
    left: 0;
    top: 0;
}

.icon_duration span,
.icon_deadline span {
    position: absolute;
    bottom: 10px;
    left: 38px;
    width: 40px;
    display: block;
    font-size: 12px;
    background-color: #f3f5f8;
    padding: 2px;
    line-height: normal;
    text-align: left;
}

.icon_deadline span {
    position: absolute;
    bottom: 10px;
    left: 42px;
    width: 40px;
    display: block;
    font-size: 12px;
    background-color: #f3f5f8;
    padding: 2px;
    line-height: normal;
    text-align: left;
}

.strip_all_courses_list {
    margin-bottom: 30px;
    background-color: #fff;
    color: #777;
    -webkit-box-shadow: 0px 3px 0px 0px #f0f2f4;
    -moz-box-shadow: 0px 3px 0px 0px #f0f2f4;
    box-shadow: 0px 3px 0px 0px #f0f2f4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.img_list {
    overflow: hidden;
    min-height: 220px;
    text-align: center;
    position: relative;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.img_list img {
    width: auto;
    height: 220px;
    position: absolute;
    left: -10%;
}

.img_list a img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}

.img_list a:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.img_list .short_info {
    padding: 5px 5px 5px 5px;
    text-align: left;
    min-height: 38px;
}

.details_list_col a.button_outline {
    padding: 8px 20px;
    margin-bottom: 0;
}

.course_list_desc {
    padding: 10px 20px 0 10px;
    border-right: 1px solid #ededed;
    height: 220px;
    line-height: 1.4;
}

.course_list_desc h3 {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.course_list_desc h3 strong {
    font-family: 'montserrat_bold', Arial, Helvetica, sans-serif;
}

.details_list_col {
    display: table;
    height: 220px;
    font-size: 38px;
    color: #e74c3c;
    width: 100%;
    margin-left: -8px;
}

.details_list_col div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

ul.add_info {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.add_info li {
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #ededed;
    text-align: center;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

ul.add_info li a {
    color: #555;
    width: 35px;
    height: 35px;
    display: block;
}

ul.add_info li i {
    display: inline-block;
    font-size: 22px;
    top: 6px;
    position: relative;
}

.box_side {
    position: relative;
}

.box_side h5 {
    font-family: "montserrat_semibold", Arial, Helvetica, sans-serif;
}

.box_side i {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    color: #999;
}

.v-red {
    color: #BF311A;
}

.v-red.cap {
    text-transform: uppercase;
}


/*-------- 2.3 About --------*/

a.box_feat,
.box_feat {
    text-align: center;
    background: #fff;
    padding: 40px 30px 30px 30px;
    display: block;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -webkit-box-shadow: 0px 3px 0px 0px #f0f2f4;
    -moz-box-shadow: 0px 3px 0px 0px #f0f2f4;
    box-shadow: 0px 3px 0px 0px #f0f2f4;
    color: #666;
    margin-bottom: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}

a.box_feat:hover {
    transform: translate(0, -10px);
    -webkit-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -webkit-box-shadow: 0px 3px 0px 0px #ebedef;
    -moz-box-shadow: 0px 3px 0px 0px #ebedef;
    box-shadow: 0px 3px 0px 0px #ebedef;
}

a.box_feat i {
    font-size: 70px;
    color: #BF311A;
}

a.box_feat h3 {
    text-transform: uppercase;
    font-size: 18px;
}

ul.list_staff {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
}

ul.list_staff li {
    position: relative;
    padding: 0 45px 0 70px;
    height: 55px;
    margin-bottom: 20px;
    display: inline-block;
    ;
    color: #555;
}

ul.list_staff li figure {
    width: 55px;
    height: 55px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

ul.list_staff figure img {
    width: 55px;
    height: auto;
}

ul.list_staff li h5 {
    font-family: "montserrat_semibold", Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 10px;
}

.box_style_4 {
    padding: 10px 30px 1px 30px;
    margin-bottom: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #f3f5f8;
}

ul.list_order {
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0;
    font-size: 14px;
}

ul.list_order li {
    position: relative;
    padding-left: 45px;
    clear: both;
    min-height: 35px;
    padding-top: 7px;
    margin-bottom: 15px;
}

ul.list_order li span {
    position: absolute;
    border: 2px solid #ccc;
    left: 0;
    color: #ccc;
    top: 0;
    text-align: center;
    font-size: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 33px;
    font-family: "montserrat_semibold", Arial, Helvetica, sans-serif;
}

ul.list_4 {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
}

ul.list_4 li {
    margin-bottom: 0;
    display: block;
    padding-left: 24px;
    margin-right: 15px;
    position: relative;
    font-family: "montserrat_semibold", Arial, Helvetica, sans-serif;
}

ul.list_4 li:before {
    font-family: "fontawesome";
    content: "\f00c";
    position: absolute;
    left: 0;
    top: 0;
    color: #BF311A;
    font-size: 1em;
}


/*-------- 2.4 Gallery--------*/

.grid ul {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.grid ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin: -3px;
    min-height: 100%;
    width: 25%;
    background-color: #000;
    list-style: none;
}

.grid figure {
    position: relative;
    overflow: hidden;
    margin: -3px;
}

.grid figure img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.grid figure:hover img,
.grid figure:focus img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25% 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 47, 59, 0.80);
    text-align: center;
    font-size: 14px;
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.grid figcaption a {
    color: #fff
}

.grid figcaption a:hover,
.grid figcaption a:focus {
    color: #73d0da
}

.grid figure:hover figcaption,
.grid figure:focus figcaption {
    opacity: 1;
}

.visible {
    opacity: 1;
}

.grid figure.cs-hover figcaption {
    opacity: 1;
}

.grid figcaption i {
    font-size: 6em;
}

.grid figcaption p {
    margin-bottom: 0;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 400;
}

.grid figcaption .caption-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -100px;
    width: 200px;
    -webkit-transform: translate(0px, 15px);
    -ms-transform: translate(0px, 15px);
    transform: translate(0px, 15px);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.grid figure:hover figcaption .caption-content,
.grid figure:focus figcaption .caption-content {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}


/*-------- 2.5 Staff--------*/

.staff .box_style_1 {
    text-align: center;
    cursor: auto;
}

ul.social_team {
    list-style: none;
    padding: 0;
    margin: 5px 0 15px 0;
    font-size: 16px;
}

ul.social_team li {
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #ededed;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 5px;
}

ul.social_team li a {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
}

.profile ul {
    text-transform: none;
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.profile ul li {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
}

.profile ul li:last-child {
    border-bottom: none;
}

ul.social_teacher {
    list-style: none;
    padding: 0;
    margin: 5px 0 15px 0;
    font-size: 16px;
    text-align: center;
}

ul.social_teacher li {
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 45px;
    text-align: center;
}


/*-------- 2.6 Contacts--------*/

#map {
    width: 100%;
    height: 500px;
}

ul.contacts_info {
    list-style: none;
    padding: 0;
    margin: 15px 0 20px 0;
}

ul.contacts_info li {
    margin-bottom: 15px;
}


/*-------- 2.7 Stories--------*/

h4.stories {
    text-transform: uppercase;
}

div .stories {
    padding: 0;
    margin: 0;
}

.stories img {
    padding: 0;
    margin: 0;
    max-width: 6000px;
}

.stories_buttons {
    text-align: right;
}

.stories_buttons a {
    margin-left: 1em;
}

.stories_buttons a:hover {
    background-color: #BF311A;
    text-decoration: none;
}

.stories_buttons a:first-child {
    margin-left: 0em;
}


/*============================================================================================*/


/* 3.  COMMON  */


/*============================================================================================*/


/*-------- 3.1 Preloader--------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: #fff;
    z-index: 99999999;
}

.pulse {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -40px 0 0 -40px;
    text-align: center;
}

.pulse:before,
.pulse:after {
    content: '';
    border: 5px solid #ccc;
    width: 80px;
    height: 80px;
    border-radius: 500px;
    position: absolute;
}

.pulse:before {
    -webkit-animation: pulse-outer 0.8s ease-in infinite;
    -moz-animation: pulse-outer 0.8s ease-in infinite;
    animation: pulse-outer 0.8s ease-in infinite;
}

.pulse:after {
    -webkit-animation: pulse-inner 0.8s linear infinite;
    -moz-animation: pulse-inner 0.8s linear infinite;
    animation: pulse-inner 0.8s linear infinite;
}


/* --------  3.1.1 Return to Top -------- */

#return-to-top {
    z-index: 999;
    position: fixed;
    bottom: 60px;
    right: 20px;
    text-decoration: none;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #333;
    text-align: center;
    margin: 0;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i::after {
    color: #666;
    font-size: 16px;
    content: "top";
    display: block;
}

#return-to-top:hover i::after {
    color: #BF311A;
}

#return-to-top:hover i {
    color: #BF311A;
    top: 5px;
}


/* --------  3.1.2 Date Format -------- */

.date_stacked {
    font-family: "monserrat_light" Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: #BF311A;
    margin-top: -.2em;
    padding-left: .5em;
}

.date_stacked span {
    font-size: .75em;
    text-align: center;
    color: #58595B;
    text-transform: uppercase;
    display: block;
}

.row.date {
    border-bottom: 2px solid #58595B;
}

.deadlines hr {
    margin-top: .3em;
    margin-bottom: .3em;
}

.deadlines h4 {
    padding-bottom: .5em;
}

.deadlines div {
    line-height: 1.25;
}

@-webkit-keyframes pulse-outer {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    50% {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@-moz-keyframes pulse-outer {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    50% {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@keyframes pulse-outer {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    50% {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes pulse-inner {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
        filter: alpha(opacity=0);
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-moz-keyframes pulse-inner {
    0% {
        -moz-transform: scale(0);
        opacity: 0;
        filter: alpha(opacity=0);
    }
    100% {
        -moz-transform: scale(1);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@keyframes pulse-inner {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        opacity: 0;
        filter: alpha(opacity=0);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}


/*-------- 3.2 Forms-------*/

span.error {
    font-size: 11px;
    position: absolute !important;
    top: -10px;
    right: 0;
    z-index: 9999;
    height: 25px;
    line-height: 25px;
    background: none;
    background-color: #e34f4f;
    color: #fff;
    font-weight: normal;
    padding: 0 6px;
}

span.error:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 6px 6px 0;
    border-color: transparent #e34f4f;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -6px;
    left: 20%;
}

.iradio_square-blue span.error,
.icheckbox_square-blue span.error {
    top: -35px;
    right: -30px;
}

.loader {
    margin-left: 5px;
    position: absolute;
}

.sub_header_contact_home .loader {
    font-size: 14px;
}

.error_message {
    color: #F33;
    font-weight: 600;
    margin-bottom: 4px;
    font-size: 14px;
}

input#website {
    display: none;
}


/* Forms */

.form-control.styled {
    border-radius: 0;
    height: 40px;
}

.form-control.f:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}


/** Drop down select **/

.styled-select select {
    background: transparent;
    width: 110%;
    padding: 5px;
    padding-left: 15px;
    margin: 0;
    -moz-appearance: window;
    -webkit-appearance: none;
    cursor: pointer;
    color: #999;
    border-radius: 0;
    height: 40px;
    border: 0;
}

.styled-select {
    width: 100%;
    overflow: hidden;
    background: #fff url(../img/down_arrow_select.png) no-repeat right center;
    border-radius: 0;
    height: 40px;
    border: 1px solid #ccc;
    margin-bottom: 25px;
}

.styled-select-contact-home select {
    background: transparent;
    width: 110%;
    padding: 5px;
    padding-left: 20px;
    margin: 0;
    -moz-appearance: window;
    -webkit-appearance: none;
    cursor: pointer;
    color: #fff;
    border-radius: 0;
    height: 44px;
    border: 0;
    font-size: 18px;
}

.styled-select-contact-home {
    width: 100%;
    overflow: hidden;
    background: url(../img/down_arrow_select_2.png) no-repeat right center;
    border-radius: 0;
    height: 48px;
    border: 2px solid #fff;
    margin-bottom: 25px;
}

.styled-select select::-ms-expand,
.styled-select-contact-home select::-ms-expand {
    display: none;
}

.form-group {
    margin-bottom: 25px;
}

.radio_inline {
    padding-top: 10px;
    position: relative;
}

#highlight {
    color: #fff;
    font-size: 15px;
}

#highlight h3 {
    color: #fff;
    font-size: 28px;
}


/*-------- 3.3 Container backgrounds-------*/

.container_blue_bg {
    background-color: #444;
}

.container_gray_bg {
    background-color: #f3f5f8;
    padding: 0;
}

.container_gray_line {
    border-top: 1px solid #e9ebee;
}

.container_graphic {
    padding-right: 0;
    padding-left: 0;
}

.bg_content {
    display: table;
    width: 100%;
    height: 500px;
    background: url(../img/bg_content.jpg) no-repeat center center;
    background-size: cover;
}

.bg_content.testimonials {
    background: url(../img/testimonials.jpg) repeat center center;
    height: 470px;
}

.bg_content>div {
    display: table-cell;
    padding: 0 10%;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 24px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.bg_content div h3 {
    font-size: 48px;
    font-family: "montserrat_bold", Arial, sans-serif;
    color: #fff;
}

.bg_content div a i {
    color: #fff;
    opacity: 0.5;
    cursor: pointer;
    font-size: 72px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.bg_content div a:hover i {
    opacity: 1;
}


/*-------- 3.4 Login/Register modals-------*/

.form-control.form-white {
    color: #fff;
    font-size: 18px;
    height: 48px;
    position: relative;
    border-radius: 0;
    border: 2px solid white;
    padding: 15px 20px;
    background: transparent;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    box-shadow: 0;
}

.form-control.form-white::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #fff;
}

.form-control.form-white:-moz-placeholder {
    opacity: 1;
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
}

.form-control.form-white::-moz-placeholder {
    opacity: 1;
    /* Mozilla Firefox 19+ */
    color: #fff;
}

.form-control.form-white:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #fff;
}

.form-control.form-white:focus {
    background: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.login_icon {
    color: #fff;
    font-size: 80px;
    opacity: 0.5;
}

.modal-backdrop {
    z-index: 999999;
}

.modal {
    padding: 0 25px !important;
    z-index: 9999999;
}

.modal-dialog {
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
}

.modal-popup {
    position: relative;
    padding: 45px 30px;
    text-align: center;
    background: url('../img/popup.jpg');
    border-radius: 0px;
    border: none;
}

.modal-popup a.close-link {
    font-size: 22px;
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
}

.popup-form {
    width: 90%;
    max-width: 375px;
    margin: 60px auto;
}

.popup-form .form-control {
    margin: 20px 0;
}

s.checkbox-holder {
    white-space: nowrap;
}

.checkbox {
    position: relative;
    display: block;
}

.checkbox {
    position: relative;
}

.checkbox label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 2px solid white;
    background: transparent;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.checkbox input[type=checkbox]:focus+label:before {
    background: rgba(255, 255, 255, 0.2);
}

.checkbox label:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    opacity: 0;
    background: white;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.checkbox input[type=checkbox] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

.checkbox input[type=checkbox]:checked+label:after {
    opacity: 1;
}

.checkbox-holder span {
    position: relative;
    display: inline-block;
    margin: 0 0 0 10px;
    white-space: normal;
    color: #fff;
}

.btn.btn-submit {
    width: 100%;
    margin-top: 30px;
    color: #fff;
    padding: 10px;
    background: #BF311A;
    outline: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 16px;
    font-family: "montserrat_semibold", Arial, Helvetica, sans-serif;
}

.btn.btn-submit:focus {
    outline: none;
}

.btn.btn-submit:hover {
    color: #555;
    background: #fff;
}


/*-------- 3.5 Spacing-------*/

.add_bottom_30 {
    margin-bottom: 30px;
}

.add_bottom_45 {
    margin-bottom: 45px;
}

.add_bottom_60 {
    margin-bottom: 60px;
}

.add_bottom_75 {
    margin-bottom: 75px;
}

.add_top_60 {
    padding-top: 60px;
}

.margin_60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.margin_30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.nomargin_top {
    margin-top: 0;
}

.nopadding {
    margin: 0 !important;
    padding: 0 !important;
}

.nomargin {
    margin: 0 !important;
}


/*-------- 3.6  Newsletter footer -------*/

#newsletter_container h3 {
    font-family: "montserrat_light", Arial, sans-serif;
    font-size: 36px;
    margin: 0 0 20px 0;
}

input.form-control#email_newsletter {
    margin-bottom: 0;
    background-color: #fff;
    border: none;
    border: 2px solid #ededed;
    height: 50px;
    font-size: 15px;
    padding-left: 20px;
    width: 380px;
    margin-top: -2px;
    margin-right: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input.form-control#email_newsletter:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #444;
}


/*-------- 3.7 Pagination ------*/

.pagination {
    border-radius: 3px;
}

.pagination>li>a,
.pagination>li>span {
    color: #888;
    border: 1px solid #ededed;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    color: #333 !important;
    background-color: #f9f9f9;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #3f9ad6;
    border-color: #3f9ad6;
}


/*-------- 3.8 Search modal ------*/

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
    z-index: 9999999;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 40px;
    line-height: 40px;
    border: 0px;
    margin: 0px;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    text-align: center;
}

#search .button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}

#search .close {
    position: fixed;
    top: 10px;
    right: 30px;
    color: #fff;
    outline: none;
    opacity: 1;
    padding: 10px;
    font-size: 30px;
    display: block;
}


/*-------- 3.9 List styles ------*/

ul.list_style_1 {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 22px;
}

ul.list_style_stories {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
    line-height: 22px;
}

ul.list_style_1 li {
    position: relative;
    padding-left: 25px;
}

ul.list_style_1 li:before {
    font-style: normal;
    font-weight: normal;
    font-family: "fontawesome";
    font-size: 14px;
    content: "\f05d";
    color: #ccc;
    position: absolute;
    left: 0;
    top: 0;
}

ul.list_3 {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.list_3 li {
    margin-bottom: 0;
    position: relative;
    padding-left: 20px;
}

ul.list_3 li:before {
    font-family: "FontAwesome";
    content: "\f19d";
    position: absolute;
    left: 0;
    top: 0;
}


/*-------- 3.10 Misc ------*/

.banner {
    margin-bottom: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #BF311A url(../img/bg_banner.png) no-repeat right bottom;
    padding: 30px 30px 60px 30px;
    color: #fff;
    text-align: center;
    font-size: 15px;
}

.banner i {
    font-size: 75px;
}

.banner h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-family: "montserrat_semibold", Arial, Helvetica, sans-serif;
    color: #fff;
}

a.banner_bt {
    display: inline-block;
    background-color: #fff;
    color: #BF311A;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "montserrat_semibold", Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: 0;
    padding: 7px 15px;
    font-size: 13px;
    outline: none;
    margin-bottom: 20px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

a.banner_bt:hover {
    background-color: #283842;
    color: #fff;
}


/* Position  breadcrumbs */

#route {
    padding: 10px 0;
    font-size: 12px;
    border-bottom: 1px solid #e4e4e4;
    background-color: #f3f5f8;
}

#route ul li:first-child {
    padding-left: 20px;
}

#route ul li:first-child:before {
    content: "\f041";
    font-style: normal;
    font-weight: normal;
    font-family: "fontawesome";
    position: absolute;
    left: 0;
    top: 1px;
    color: #555;
}

#route ul {
    margin: 0;
    padding: 0;
    color: #888;
}

#route ul li a {
    color: #333;
    opacity: 0.7;
}

#route ul li a:hover {
    color: #333;
    opacity: 1;
}

#route ul li {
    display: inline-block;
    padding-right: 8px;
    margin-right: 3px;
    position: relative;
}

#route ul li:after {
    content: "\f105";
    font-style: normal;
    font-weight: normal;
    font-family: "fontawesome";
    position: absolute;
    right: 0;
    top: 1px;
}

#route ul li:last-child:after {
    content: '';
}


/** Collapse **/

#accordion .panel {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#accordion .panel-title a {
    display: block;
    color: #444;
}

#accordion .panel-default>.panel-heading {
    background-color: #f9f9f9;
}

#accordion .panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#accordion .panel-group .panel {
    border-radius: 0;
}


/** tabs **/

.tab-content {
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    margin-bottom: 25px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}


/** Tables **/

.table {
    border-bottom: 1px solid #ddd;
}

.table.cart-list th,
.table.options_cart th {
    background-color: #fff;
    font-family: "montserrat_bold", Arial, Helvetica, sans-serif;
}

.table.cart-list td {
    vertical-align: middle;
    padding-top: 15px;
}

.list_courses_apply h4 {
    color: #777;
    margin-bottom: 20px;
}

.list_courses_apply ul {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
}

.list_courses_apply ul li {
    padding: 5px 0;
}

.img-circle.styled {
    background-color: #ededed;
    -moz-box-shadow: 0px 0px 0px 5px #ededed;
    -webkit-box-shadow: 0px 0px 0px 5px #ededed;
    box-shadow: 0px 0px 0px 5px #ededed;
    margin: auto;
}

.img-circle.styled_2 {
    background-color: #fff;
    -moz-box-shadow: 0px 0px 0px 5px #fff;
    -webkit-box-shadow: 0px 0px 0px 5px #fff;
    box-shadow: 0px 0px 0px 5px #fff;
    margin: auto;
}


/*-------- 3.11 Tooltips ------*/

.tooltip_styled {
    display: inline;
    position: relative;
    z-index: 999;
}

.tooltip-item {
    cursor: pointer;
    display: inline-block;
}

.tooltip-item::after {
    content: '';
    position: absolute;
    width: 180px;
    height: 20px;
    bottom: 100%;
    left: 50%;
    pointer-events: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tooltip_styled:hover .tooltip-item::after {
    pointer-events: auto;
}

.tooltip-content {
    position: absolute;
    z-index: 9999;
    width: 180px;
    left: 50%;
    margin: 0 0 20px -90px;
    bottom: 100%;
    text-align: left;
    line-height: 1.2;
    display: block;
    padding: 15px;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    font-family: "montserrat_semibold", Arial, Helvetica, sans-serif;
    box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
    background: #333;
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

.tooltip-effect-1 .tooltip-content {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.tooltip-effect-2 .tooltip-content {
    -webkit-transform-origin: 50% calc(100% + 10px);
    transform-origin: 50% calc(100% + 10px);
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 45deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, 45deg);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
}

.tooltip-effect-3 .tooltip-content {
    -webkit-transform: translate3d(0, 10px, 0) rotate3d(1, 1, 0, 25deg);
    transform: translate3d(0, 10px, 0) rotate3d(1, 1, 0, 25deg);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.tooltip-effect-4 .tooltip-content {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale3d(0.7, 0.3, 1);
    transform: scale3d(0.7, 0.3, 1);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
}

.tooltip_styled:hover .tooltip-content {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
}

.tooltip_styled.tooltip-effect-2:hover .tooltip-content {
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}

.tooltip-content::after {
    content: '';
    top: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #333;
    border-width: 10px;
    margin-left: -10px;
}

.tooltip-content .label {
    margin-left: 10px;
}

.tooltip-content i {
    font-size: 20px !important;
    top: 3px !important;
    left: -3px !important;
    position: relative;
}

.tooltip-content h4 {
    display: block;
    margin: 0 0 10px 0;
    line-height: 14px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.tooltip-content a {
    font-weight: bold;
}


/*-------- 3.12 Timeline ------*/


/* The actual timeline (the vertical ruler) */

.timeline {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}


/* The actual timeline (the vertical ruler) */

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}


/* Container around content */

.timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}


/* The circles on the timeline */

.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #BF311a;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


/* Place the container to the left */

.timeline-left {
    left: 0;
}


/* Place the container to the right */

.timeline-right {
    left: 50%;
}


/* Add arrows to the left container (pointing right) */

.timeline-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid black;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent black;
}


/* Add arrows to the right container (pointing left) */

.timeline-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid black;
    border-width: 10px 10px 10px 0;
    border-color: transparent black transparent transparent;
}


/* Fix the circle for containers on the right side */

.timeline-right::after {
    left: -16px;
}


/* The actual content */

.timeline-content {
    padding: 20px 30px;
    background-color: #FDB913;
    position: relative;
    border-radius: 6px;
}


/* Media queries - Responsive timeline on screens less than 600px wide */

@media all and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
    /* Full-width containers */
    .timeline-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    /* Make sure that all arrows are pointing leftwards */
    .timeline-container::before {
        left: 60px;
        border: medium solid black;
        border-width: 10px 10px 10px 0;
        border-color: transparent black transparent transparent;
    }
    /* Make sure all circles are at the same spot */
    .timeline-left::after,
    .timeline-right::after {
        left: 15px;
    }
    /* Make all right containers behave like the left ones */
    .timeline-right {
        left: 0%;
    }
}