.tabs {
    position: relative;
    width: 100%;
    overflow: hidden;
}


/* Nav */

.tabs nav {
    text-align: center;
}

.tabs nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}

.tabs nav ul li {
    border: 1px solid #D3D3D3;
    border-bottom: none;
    margin: 0 0.25em;
    display: block;
    float: left;
    position: relative;
}


/*
.tabs nav ul li.tab-current {
	border: 1px solid #666666;
	border-bottom: none;
	margin: 0 0.25em;
	display: block;
	float: left;
	position: relative;
}
*/

.tabs nav li.tab-current {
    border: 2px solid #FDB913;
    border-bottom: none;
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
    content: '';
    position: absolute;
    height: 1px;
    right: 100%;
    bottom: 0;
    width: 1000px;
    background: #FDB913;
}

.tabs nav li.tab-current:after {
    right: auto;
    left: 100%;
    width: 4000px;
}

.tabs nav a {
    color: #999999;
    display: block;
    line-height: 2.5;
    padding: 0 1.5em;
    white-space: nowrap;
    text-decoration: none;
}

.tabs nav li.tab-current a {
    color: #BF311A;
}

.tabs i {
    padding-right: .5em;
}

.tabs nav a:hover {
    background-color: #BF311A;
    color: #fff;
    text-decoration: none;
}

.tabs nav li.tab-current a:hover,
.tabs nav a:hover {
    background-color: #BF311A;
    color: #fff;
    text-decoration: none;
}


/* Content */

.content section {
    padding: 40px 0 0 0;
    display: none;
    max-width: 1230px;
    margin: 0 auto;
}

.content section:before,
.content section:after {
    content: '';
    display: table;
}

.content section:after {
    clear: both;
}


/* Fallback example */

.no-js .content section {
    display: block;
    padding-bottom: 2em;
    border-bottom: 1px solid #47a3da;
}

.content section.content-current {
    display: block;
}

.mediabox {
    float: left;
    width: 35%;
    padding: 0 15px;
}


/* Example media queries */

@media screen and (max-width: 52.375em) {
    .tabs nav a span {
        display: none;
    }
    .tabs nav a:before {
        margin-right: 0;
    }
    .mediabox {
        float: none;
        width: auto;
        padding: 0 0 35px 0;
        font-size: 90%;
    }
    .mediabox img {
        float: left;
        margin: 0 25px 10px 0;
        max-width: 40%;
    }
    .mediabox h3 {
        margin-top: 0;
    }
    .mediabox p {
        margin-left: 40%;
        margin-left: calc(40% + 25px);
    }
    .mediabox:before,
    .mediabox:after {
        content: '';
        display: table;
    }
    .mediabox:after {
        clear: both;
    }
}

@media screen and (max-width: 32em) {
    .tabs nav ul,
    .tabs nav ul li a {
        width: 100%;
        padding: 0;
    }
    .tabs nav ul li {
        width: 20%;
        width: calc(20% + 1px);
        margin: 0 0 0 -1px;
    }
    .tabs nav ul li:first-child {
        margin-right: 0;
    }
    .mediabox {
        text-align: center;
    }
    .mediabox img {
        float: none;
        margin: 0 auto;
        max-width: 100%;
    }
    .mediabox h3 {
        margin: 1.25em 0 1em;
    }
    .mediabox p {
        margin: 0;
    }
}