
		<div class="card mb-5">
			<img class="card-img-top img-fluid" src="/_staging/_resources/img/prestige/bg-aboutus.jpg" alt="About Valencia">
			<div class="card-body ">
				<span class="card-text">
					<div class="">
					<h3>About</h3>
					</div>
					<div class="list-group"><div  class="list-group-item list-group-item-danger">Page Not Found - https://preview.valenciacollege.edu/about/contact-information/fax/index.php</div>
<div  class="list-group-item list-group-item-danger">Page Not Found - https://preview.valenciacollege.edu/about/support/howto/index.php</div>
<div  class="list-group-item list-group-item-danger">Page Not Found - https://preview.valenciacollege.edu/about/sustainability/action/index.php</div>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/static-index.php" title="About Valencia College -">About Valencia College -</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/sustainability/about-us/index.php" title="About Valencia College - Our Team">About Valencia College - Our Team</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/board-of-trustees/index.php" title="Board of Trustees - Board of Trustees">Board of Trustees - Board of Trustees</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/budget/index.php" title="Budget and Analysis -">Budget and Analysis -</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/public-safety/criminal-justice-institute/index.php" title="Criminal Justice -">Criminal Justice -</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/division-plans/index.php" title="Division Action Plans - Division Action Plans">Division Action Plans - Division Action Plans</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/ferpa/index.php" title="FERPA - Family Educational Rights and Privacy Act">FERPA - Family Educational Rights and Privacy Act</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/facilities/index.php" title="Facilities &amp; Sustainability - Facilities and Sustainability">Facilities &amp; Sustainability - Facilities and Sustainability</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/public-safety/fire-rescue-institute/index.php" title="Fire Rescue -">Fire Rescue -</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/governance/executive-council/index.php" title="Governance Council - Executive Council">Governance Council - Executive Council</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/governance/index.php" title="Governance Councils - Governance">Governance Councils - Governance</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/governance/learning-leadership-council/index.php" title="Governance Councils - Learning Leadership Council">Governance Councils - Learning Leadership Council</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/learning-centered-initiative/index.php" title="Learning-Centered Initiative - Learning-Centered Initiative">Learning-Centered Initiative - Learning-Centered Initiative</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/lifemap/index.php" title="Lifemap -">Lifemap -</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/lifemap/pbs/index.php" title="Lifemap -">Lifemap -</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/audit/index.php" title="Office of Compliance and Audit - Overview">Office of Compliance and Audit - Overview</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/general-counsel/index.php" title="Office of Policy and General Counsel - Mission and Goals">Office of Policy and General Counsel - Mission and Goals</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/general-counsel/policy/index.php" title="Office of Policy and General Counsel - Policies and Procedures">Office of Policy and General Counsel - Policies and Procedures</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/office-of-the-president/index.php" title="Office of the President - About The President">Office of the President - About The President</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/governance/operations-leadership-team/index.php" title="Operations Leadership Team - Operations Leadership Team">Operations Leadership Team - Operations Leadership Team</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/our-next-big-idea/index.php" title="Our Next Big Idea - QEP Updates">Our Next Big Idea - QEP Updates</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/privacy/index.php" title="Privacy Policy - Privacy Statement">Privacy Policy - Privacy Statement</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/public-safety/safety-and-security-institute/index.php" title="Safety and Security -  Current Offerings WIthin the Fields of Safety and Security​">Safety and Security -  Current Offerings WIthin the Fields of Safety and Security​</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/public-safety/index.php" title="School of Public Safety - Education and&nbsp;Training&nbsp;for&nbsp;All Public Safety Professionals">School of Public Safety - Education and&nbsp;Training&nbsp;for&nbsp;All Public Safety Professionals</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/sustainability/get-involved/index.php" title="Sustainability -">Sustainability -</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/sustainability/operations/index.php" title="Sustainability - Energy and Climate">Sustainability - Energy and Climate</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/sustainability/campuses/index.php" title="Sustainability - Our Green Buildings">Sustainability - Our Green Buildings</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/sustainability/index.php" title="Sustainability - What is sustainability?">Sustainability - What is sustainability?</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/trustee-education/index.php" title="Trustee Education &amp; Preparation - Welcome to Valencia's District Board of Trustees!">Trustee Education &amp; Preparation - Welcome to Valencia's District Board of Trustees!</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/live/index.php" title="Valencia Live - Latest and Upcoming Broadcasts">Valencia Live - Latest and Upcoming Broadcasts</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/mobile/index.php" title="Valencia Mobile - Valencia College on your Mobile Device">Valencia Mobile - Valencia College on your Mobile Device</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/support/index.php" title="Valencia Support -">Valencia Support -</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/contact-information/index.php" title="Valencia Support - Contact Us">Valencia Support - Contact Us</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/support/search/index.php" title="Valencia Support - Search Valencia's Website">Valencia Support - Search Valencia's Website</a>
<a  class="list-group-item list-group-item-action" href="https://preview.valenciacollege.edu/about/wifi/index.php" title="Wireless Campus - Wireless Networking at Valencia">Wireless Campus - Wireless Networking at Valencia</a>
</div>
				</span>
					</div>			
						</div>