@import url('../../../../../future-students/wp-content/themes/valencia-montserrat/montserrat-set.css');






h1 {

	font-size: 2em; 
	font-weight: 700;
	/*text-transform: uppercase;*/
	letter-spacing: -2px; 
	color: rgb(51, 51, 51);
}

h2 {
	font-size: 1.65em;
	font-weight: 400;
	letter-spacing: -1px;
	color: rgb(51, 51, 51);
}

h2 {
line-height: 1.6;


}

	h2.subheader {
		font-size: 1.35em;
		line-height: 1.25em;
		color: rgb(51, 51, 51);

	}


h3 {
	font-size: 1.35em; 
	font-weight: 300; 
	letter-spacing: -1px;
	color: rgb(51, 51, 51); 
}

	h3.uppercase {
		text-transform: uppercase;
	}

	h3.white.uppercase {
		color: rgb(255, 255, 255);
	}




h4 {
	font-size: 1.15em; 
	font-weight: 500;
	color: rgb(51, 51, 51); 
	text-transform: none;
}

h5{
	font-size: 1em; 
	font-weight: 700;  
	color: rgb(51, 51, 51);
	text-transform: none;
}

h6 {
	font-size: 0.85em; 
	font-weight: 700; 
	text-transform: uppercase; 
	color: rgb(191, 49, 26);
}

p {
	font-size: .9em;
	line-height: 1.6;
	font-family: 'Montserrat-Light', "Helvetica", Helvetica, Arial, sans-serif;
}

body {

	font-family: 'Montserrat-Light', "Helvetica", Helvetica, Arial, sans-serif;
}