<!-- START Header================================================== -->
<div class="header-site">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3">
        <div id="logo"><a href="index.html"> <img src="/img/logo.png" width="125" height="40" alt="Valencia College"
                                                  data-retina="true"></a></div>
      </div>

      <nav class="col-md-9 col-sm-9 col-xs-9"><a class="cmn-toggle-switch cmn-toggle-switch__htx open_close"
                                                 href="javascript:void(0);"><span>Menu mobile</span></a>

        <div class="site-menu">
          <div id="logo">
            <img src="/img/logo-vc.png" width="317.4" height="48.5" alt="Valencia College" data-retina="true">
          </div>
          <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>

          <ul>
            <li class="submenu"><a href="javascript:void(0);" class="show-submenu">Home <i
              class="icon-down-open-mini"></i></a>

              <ul>
                <li><a href="index.html">Home Layer slider</a></li>
                <li><a href="index_2.html">Home Video</a></li>
                <li><a href="/index_3.html">Home version 2</a></li>
                <li><a href="/index_4.html">Home version 3</a></li>
                <li><a href="/index_5.html">Home quick contact</a></li>
              </ul>
            </li>
            <li class="submenu"><a href="javascript:void(0);" class="show-submenu">Academic <i
              class="icon-down-open-mini"></i></a>

              <ul>
                <li><a href="diploma.html">Diploma courses</a></li>
                <li><a href="graduate.html">Graduate courses</a></li>
                <li><a href="/master.html">Master courses</a></li>
                <li><a href="apply_online.html">Apply online</a></li>
                <li><a href="/staff.html">Staff</a></li>
              </ul>
            </li>
            <li class="submenu"><a href="javascript:void(0);" class="show-submenu">About <i
              class="icon-down-open-mini"></i></a>

              <ul>
                <li><a href="about.html">About us</a></li>
                <li><a href="contacts.html">Plan a visit</a></li>
                <li><a href="/staff.html">Staff</a></li>
                <li><a href="gallery.html">Gallery</a></li>
              </ul>
            </li>
            <li class="megamenu submenu"><a href="javascript:void(0);" class="show-submenu-mega">Pages &amp; elements<i
              class="icon-down-open-mini"></i></a>

              <div class="menu-wrapper">
                <div class="col-md-4">
                  <h3>Elements</h3>

                  <ul>
                    <li><a href="icon-pack-1.html"><i class="icon-inbox-alt"></i> Icon pack 1</a></li>
                    <li><a href="icon-pack-2.html"><i class="icon-inbox-alt"></i> Icon pack 2</a></li>
                    <li><a href="icon-pack-3.html"><i class="icon-inbox-alt"></i> Icon pack 3</a></li>
                    <li><a href="icon-pack-4.html"><i class="icon-inbox-alt"></i> Icon pack 4</a></li>
                    <li><a href="/shortcodes.html"><i class="icon-tools"></i> Shortcodes</a></li>
                  </ul>
                </div>

                <div class="col-md-4">
                  <h3>Pages</h3>

                  <ul>
                    <li><a href="academic_single_course.html">Single course page</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                    <li><a href="agenda_calendar.html">Agenda calendar</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                  </ul>
                </div>

                <div class="col-md-4">
                  <h3>Pages</h3>

                  <ul>
                    <li><a href="#" data-toggle="modal" data-target="#login">Login</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#register">Register</a></li>
                    <li><a href="/tour.html">Tour</a></li>
                    <li><a href="/site_launch/index.html">Site launch/Coming soon</a></li>
                  </ul>
                </div>
              </div>
              <!-- End menu-wrapper -->
            </li>
            <li><a href="/tour.html">Tour</a></li>
            <li><a href="#" data-toggle="modal" data-target="#login">Login</a></li>
            <li><a href="#search" id="search_bt"><i class="fa fa-search"></i><span>Search</span></a></li>
          </ul>
        </div>
        <!-- End site-menu -->
      </nav>
    </div>
  </div>
  <!-- container -->
</div>
<!-- End Header -->
