/* font used where Montserrat light is needed */
@font-face {
    font-family: 'Montserrat-Hairline';
    src: url('fonts/Montserrat-Hairline.eot'); /* IE9 Compat Modes */
    src: url('fonts/Montserrat-Hairline-.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Montserrat-Hairline.woff2') format('woff2'), /* Modern Browsers */
    url('fonts/Montserrat-Hairline.woff') format('woff'), /* Modern Browsers */
    url('fonts/Montserrat-Hairline.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/Montserrat-Hairline.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
    font-style: normal;
}
/* font used where Montserrat regular is needed */
@font-face {
    font-family: 'Montserrat-Light';
    src: url('fonts/Montserrat-Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/Montserrat-Light-.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Montserrat-Light.woff2') format('woff2'), /* Modern Browsers */
    url('fonts/Montserrat-Light.woff') format('woff'), /* Modern Browsers */
    url('fonts/Montserrat-Light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/Montserrat-Light.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
    font-style: normal;
}
/* font used where Montserrat bold is needed */
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/Montserrat-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/Montserrat-Regular-.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Montserrat-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('fonts/Montserrat-Regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/Montserrat-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/Montserrat-Regular.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
    font-style: normal;
}
/* font used where Montserrat black is needed */
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('fonts/Montserrat-SemiBold.eot'); /* IE9 Compat Modes */
    src: url('fonts/Montserrat-SemiBold-.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Montserrat-SemiBold.woff2') format('woff2'), /* Modern Browsers */
    url('fonts/Montserrat-SemiBold.woff') format('woff'), /* Modern Browsers */
    url('fonts/Montserrat-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/Montserrat-SemiBold.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
    font-style: normal;
}