

		/* Enter Your Custom CSS Here */

/* Make CE Theme Keyboard compliant*/
nav.dropdown-menu>ul>li>a:focus,
nav.dropdown-menu>ul>li>a:hover,
nav.dropdown-menu>ul>li.active {
  border-bottom: #fdb913 3px solid;
}

p {font-family: Montserrat-Light, "Helvetica", Helvetica, Arial, sans-serif !important; }
/* Hide nav for landing pages*/
.page-id-2612 .main-search, .page-id-2612 .dropdown-menu.hide-for-small, .page-id-2902 .right-for-large, .page-id-2925 .main-search, .page-id-2925 .dropdown-menu.hide-for-small, .page-id-2925 .right-for-large, .page-id-2941 .main-search, .page-id-2941 .dropdown-menu.hide-for-small, .page-id-2941 .right-for-large, .page-id-2732 .main-search, .page-id-2732 .dropdown-menu.hide-for-small, .page-id-2732 .right-for-large, .page-id-2732 .site-heading, .page-id-2568 .main-search, .page-id-2568 .dropdown-menu.hide-for-small, .page-id-2568 .right-for-large, .page-id-2568 .site-heading, .page-id-2793 .main-search, .page-id-2793 .dropdown-menu.hide-for-small, .page-id-2793 .right-for-large, .page-id-2793 .site-heading, .page-id-2799 .main-search, .page-id-2799 .dropdown-menu.hide-for-small, .page-id-2799 .right-for-large, .page-id-2799 .site-heading, .page-id-2882 .main-search, .page-id-2882 .dropdown-menu.hide-for-small, .page-id-2882 .right-for-large, .page-id-2882 .site-heading, .page-id-3503 .main-search, .page-id-3503 .dropdown-menu.hide-for-small, .page-id-3503 .right-for-large, .pae-id-3503 .site-heading{display:none !important;}
/*Hide footer for landing pages */
.page-id-2612 .site-footer, .page-id-2612 .pre-pre-footer, .page-id-2925 .site-footer, .page-id-2925 .pre-pre-footer, .page-id-2941 .site-footer, .page-id-2941 .pre-pre-footer, .page-id-2732 .site-footer, .page-id-2732 .pre-pre-footer, .page-id-2568 .site-footer, .page-id-2568 .pre-pre-footer, .page-id-2793 .site-footer, .page-id-2793 .pre-pre-footer, .page-id-2799 .site-footer, .page-id-2799 .pre-pre-footer, .page-id-2882 .site-footer, .page-id-2882 .pre-pre-footer, .page-id-3503 .site-footer, .page-id-3503 .pre-pre-footer {display:none;}
/*Hide h1 for landing pages */
.page-id-2612 h1, .page-id-2925 h1, .page-id-2732 h1, .page-id-2568 h1, .page-id-2793 h1, .page-id-2799 h1, .page-id-2882 h1, .page-id-3503 h1 {
  display: none;
}
/* Delete background color and shadow from header */
.page-id-2568 .main-header, .page-id-2732 .main-header, .page-id-2793 .main-header, .page-id-2799 .main-header, .page-id-2882 .main-header, .page-id-3503 .main-header {
	background-color: transparent;
  	border-bottom: none;
  	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow:none;
  	margin-bottom:.75em;
}

/* GRAVITY FORM FIXES */
/* FORCE GRAVITY FORMS NOT TO DISPLAY 'PREVIOUS' BUTTON -  not other clean fix bu this */
body .gform_wrapper .gform_body .gform_page_footer .gform_previous_button {
    display:none !important;
}

/* Delete step numbers from form */
.gform_wrapper .gf_step span.gf_step_number {
	display: none !important;  
}

.button, a.action-button, .action-item a {
  font-size: .85em !important;
  padding-top: .75em !important;
  padding-bottom: 0.6875em !important;
}

/*  CHANGE DEFAULT TEXT COLOR TO DARK GRAY INSTEAD OF RED  */
				.gray {
  					color: #414042;
				}

/* hr invisible */
	.hrInvisible {visibility: hidden;}

/*  FORMATTING FIXES  */
				.intro {
  					font-size: 1.15em;
				}

/* PANEL EXTENDING FULL WIDTH OF PAGE (no margins that are defined already by container large-12 columns) */
                .panelFull {
                    margin-left: -15px;
                    margin-right: -15px;
  					border-width: 0px;
 					background-color: #fdb913; 
                }

/* CENTER ELEMENT IN MIDDLE VERTICALLY*/
                .middle {
                  position: relative;
                  top: 50%;
                  transform: translateY(-50%);
                }

/* Remove -2 letter spacing for h1 */
h1 {
  letter-spacing: 0;
}

/* fix ul list indentation so second and following lines are aligned correctly */
.action-list {
  	list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
}

/* ADD TEXT SHADOW TO H4 WHITE OVERLAY TEXT IN HOVER BOX ELEMENT ONLY*/
a.hover-box .hover-box-overlay h4 {
    color: white;
    text-transform: uppercase;
    text-shadow: 0px 0px 8px #808080;
}