

		/* Enter Your Custom CSS Here */

/*  ////// OVERRIDE CLASSES FOR BETTER LAYOUT AND CUSTOMIZATION //////  */
	/* more flexibility switching from serif to sans-serif */

.top-bar.primary .top-bar-section>ul>li>a:focus {
  border-bottom: #fdb913 3px solid;
}

	/* clear margin and padding */
				.mt0 {
					margin-top: 0px !important;
				}
				.mr0 {
					margin-right: 0px !important;
				}
				.mb0 {
					margin-bottom: 0px !important;
				}
				.ml0 {
					margin-left: 0px !important
				}

				.pt0 {
					padding-top: 0px !important;
				}
				.pr0 {
					padding-right: 0px !important;
				}
				.pb0 {
					padding-bottom: 0px !important;
				}
				.pl0 {
					padding-left: 0px !important;
				}


	/* adding padding by 15px */

				.pt15 {
					padding-top: 15px !important;
				}
				.pr15 {
					padding-right: 15px !important;
				}
				.pb15 {
					padding-bottom: 15px !important;
				}
				.pl15 {
					padding-left: 15px !important;
				}

	/* adding padding by 25px */

				.pt25 {
					padding-top: 25px !important;
				}
				.pr25 {
					padding-right: 25px !important;
				}
				.pb25 {
					padding-bottom: 25px !important;
				}
				.pl25 {
					padding-left: 25px !important;
				}
				.p25 {
					padding: 25px !important;
				}

	/* negative top-margins */
				.mtn10 {
					margin-top: -10px !important;
				}	
				.mtn25 {
					margin-bottom: -25px;
				}

    /* OVERRIDE MARGINS  */
                .mb15 {
                    margin-bottom: 10px;
                }
                .mb25 {
                    margin-bottom: 25px;
                }
                .mt10 {
                    margin-top: 10px; 
                }
                .ml35 {
                    margin-left: 35px; 
                }

/*  ////// END OF OVERRITE CLASSES  //////  */

/*  ////// DELETE SPACE AFTER H1  //////  */
				H1 {
  					margin-bottom: 0;
				}

/*  MAKE LIST FONT SIZE SAME AS PARAGRAPH  */
                li {
                    font-size: 1em !important;
                    line-height: 1.6;
                }
                ul, ol, dl {
                    font-size: 1em;
                }

/*  CHANGE DEFAULT TEXT COLOR TO DARK GRAY INSTEAD OF RED  */
				.gray {
  					color: #414042;
				}
/* RED COLOR */
				.red {
 					color: #bf311a; 
}

/* hr invisible */
	.hrInvisible {visibility: hidden;}

/*  FORMATTING FIXES  */
				.intro {
  					font-size: 1.15em;
				}

/* PANEL EXTENDING FULL WIDTH OF PAGE (no margins that are defined already by container large-12 columns) */
                .panelFull {
                    margin-left: -15px;
                    margin-right: -15px;
  					border-width: 0px;
 					background-color: #fdb913; 
                }

/* CENTER ELEMENT IN MIDDLE VERTICALLY*/
                .middle {
                  position: relative;
                  top: 50%;
                  transform: translateY(-50%);
                }

/* CHANGE ACTION LIST FONT SIZE TO 0.9em*/
                .action-list {
                  font-size: 0.9em !important;
                }

/* from conted, for ad template */
/* GRAVITY FORM FIXES */
/* FORCE GRAVITY FORMS NOT TO DISPLAY 'PREVIOUS' BUTTON -  not other clean fix bu this */
body .gform_wrapper .gform_body .gform_page_footer .gform_previous_button {
    display:none !important;
}

/* Delete step numbers from form */
.gform_wrapper .gf_step span.gf_step_number {
	display: none !important;  
}

/* Fix issue with subheader class text color changing to white  */
.subheader {
	color: #414042 !important;
}

/* And this had to be added because the above fix caused contrast issues in the footer */
div.sitefooter.subheader,
p.subheader
{
  color: #ffffff !important;
}