/*   CSS NOT CURRENTLY USED BUT CREATED  */

/*This creates a triangle with a white arrow.*/
.tabs_more i {
  position: relative;
  top: 12px;
  left: -18px;
  color: #fff;
  transform: rotate(45deg);
}

#triangle-bottomright {
  margin-right: 1.6em;
  width: 0;
  height: 0;
  font-family: "FontAwesome";
  color: #000;
  content: "\f061";
  border-bottom: 30px solid #999;
  border-left: 30px solid transparent;
}
