/* LayerSlider No Skin */

.ls-noskin .ls-playvideo {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
}

.ls-noskin .ls-nav-sides,
.ls-noskin .ls-bottom-nav-wrapper,
.ls-noskin .ls-bottom-slidebuttons a,
.ls-noskin .ls-nav-prev,
.ls-noskin .ls-nav-next,
.ls-noskin .ls-nav-start,
.ls-noskin .ls-nav-stop {
  display: none;
  visibility: hidden;
}

.ls-noskin .ls-playvideo,
.ls-noskin .ls-loading-container,
.ls-noskin .ls-fullscreen {
  background-image: url(skin.png);
}

.ls-noskin .ls-playvideo {
  background-position: -300px -150px;
}

.ls-noskin .ls-playvideo:hover,
.ls-noskin .ls-vpcontainer:hover .ls-playvideo {
  background-position: -375px -150px;
}

.ls-noskin .ls-thumbnail {
  top: 0px;
}

.ls-noskin .ls-thumbnail-inner {
  padding: 5px;
  margin-left: -5px;
}

.ls-noskin .ls-thumbnail-slide a {
  margin-right: 5px;
}

.ls-noskin .ls-nothumb {
  background: #eee;
}

.ls-noskin .ls-loading-container {
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  background-position: -450px -150px;
}

.ls-noskin .ls-loading-indicator {
  width: 22px;
  height: 22px;
  margin-top: 9px;
  background-image: url(loading.gif);
}

.ls-noskin .ls-fullscreen {
  width: 30px;
  height: 30px;
  right: 10px;
  top: 10px;
  background-position: -525px -150px;
}

.ls-noskin .ls-fullscreen:hover {
  background-position: -525px -190px;
}
